.hero {
  display: flex;
  height: 100vh;
  background-size: cover;
}

.content {
  display: flex;
  flex-direction: column;
  max-width: 700px;
  width: 100%;
  margin: 0 auto 0 0;

  color: black;
}
.content h1 {
  font-size: 65px;
  font-weight: bolder;
  margin-left: 50px;
  margin-top: 200px;
  color: #386fa2;
}

.content p {
  font-size: 22px;
  margin-left: 50px;
  text-align: left;
  color: #386fa2;
}

.content a {
  color: white;
  text-decoration: none;
  background-color: #386fa2;
  font-size: 22px;
  padding: 12px 24px;
  border-radius: 10px;
  margin-left: 200px;
  margin-right: 200px;
  text-align: center;
  font-weight: bolder;
}
