@tailwind base;
@tailwind components;
@tailwind utilities;

.star-rating {
  font-size: 1.5rem;
  cursor: pointer;
}
.star-rating .filled {
  color: #fbbf24; /* Tailwind yellow-400 */
}

.card-item {
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

.card-item.loaded {
  opacity: 1;
}